Dockerfile
.dockerignore

target
logs
.bloop
.bsp
.scalafmt.conf
notes

.git
.gitignore
.github
.codacy.yaml

.metals
.vscode
.idea

.directory
.DS_Store

.codacy.yaml
.zenodo.json
.scalafmt.conf
*.md
LICENSE
Procfile
