openapi: 3.0.0
info:
  title: RDFShape API
  description: Description about the RDFShape API for RDF conversion and validation using ShEx or SHACL
  version: 1.0.1
  contact:
    name: Jose Emilio Labra Gayo (WESO Research group)
    url: 'http://www.weso.es'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: http://rdfshape.weso.es:8080/api/
    description: RDFShape at WESO
  - url: http://shaclex.herokuapp.com/api/
    description: RDFShape at Heroku
#  - url: http://localhost:8080/api/
#    description: Localhost RDFShape
paths:
  /data/formats: 
    get:
      summary: Returns the list of RDF data formats supported
      description: List of data formats
      responses:
        '200':    # status code
          description: A JSON array of RDF data formats
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /data/formats/default: 
    get:
      summary: Returns the default RDF data formats 
      description: default RDF data format
      responses:
        '200':    # status code
          description: A name of an RDF data format
          content:
            application/json:
              schema: 
                type: string
  /data/visualize/formats:
    get:
      summary: List of available formats to visualize data
      description: Format name
      responses:
        '200':    # status code
          description: A JSON array of data visualization formats
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /data/info:
    post:
      summary: Info about RDF data
      description: Info about RDF data
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                dataURL:
                  type: string
                dataFile:
                  type: string
                  format: binary
                endpoint:
                  type: string
                dataFormatTextArea:
                  type: string
                dataFormatUrl:
                  type: string
                dataFormatFile:
                  type: string
                dataFormat:
                  type: string
                inference:
                  type: string
                rdfDataActiveTab:
                  type: string
      responses:
        '200':    # status code
          description: Result of data info
          content:
            application/json:
              schema: 
                type: object
                properties:
                  msg:
                    type: string
                  data:
                    type: string
                  dataFormat:
                    type: string
                  prefixMap:
                    type: object
                  predicates:
                    type: array
                    items: 
                      type: string
    get:
      summary: Info about RDF data
      description: Info about RDF data
      parameters:
        - in: query
          name: data
          schema:
            type: string
          description: RDF data
        - in: query
          name: dataURL
          schema:
            type: string
          description: URL of RDF data
        - in: query
          name: endpoint
          schema:
            type: string
          description: Endpoint to retrieve RDF data
        - in: query
          name: dataFormat
          schema:
            type: string
          description: Format of RDF data
        - in: query
          name: inference
          schema:
            type: string
          description: Format of RDF data
      responses:
        '200':    # status code
          description: Result of data info
          content:
            application/json:
              schema: 
                type: object
                properties:
                  msg:
                    type: string
                  data:
                    type: string
                  dataFormat:
                    type: string
                  prefixMap:
                    type: object
                  predicates:
                    type: array
                    items: 
                      type: string
                    
  /data/convert:
    post:
      summary: Info about RDF data
      description: Info about RDF data
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                dataURL:
                  type: string
                dataFile:
                  type: string
                  format: binary
                endpoint:
                  type: string
                dataFormatTextArea:
                  type: string
                dataFormatUrl:
                  type: string
                dataFormatFile:
                  type: string
                dataFormat:
                  type: string
                inference:
                  type: string
                rdfDataActiveTab:
                  type: string
                targetDataFormat:
                  type: string
      responses:
        '200':    # status code
          description: Result of data info
          content:
            application/json:
              schema: 
                type: object
                properties:
                  msg:
                    type: string
                  data:
                    type: string
                  dataFormat:
                    type: string
                  prefixMap:
                    type: object
                  predicates:
                    type: array
                    items: 
                      type: string
  
    get:
      summary: Convert RDF data
      description: Convert RDF data
      parameters:
        - in: query
          name: data
          schema:
            type: string
          description: RDF data
        - in: query
          name: dataURL
          schema:
            type: string
          description: URL of RDF data
        - in: query
          name: endpoint
          schema:
            type: string
          description: Endpoint to retrieve RDF data
        - in: query
          name: dataFormat
          schema:
            type: string
          description: Format of RDF data
        - in: query
          name: inference
          schema:
            type: string
          description: Format of RDF data
        - in: query
          name: targetDataFormat
          schema:
            type: string
          description: Result data format
      responses:
        '200':    # status code
          description: Result of data info
          content:
            application/json:
              schema: 
                type: object
                properties:
                  msg:
                    type: string
                  result:
                    type: string
                  data:
                    type: string
                  targetDataFormat:
                    type: string
                      
                      
  /schema/engines:
    get:
      summary: Returns a list of schema engines
      description: List of schema engines
      responses:
        '200':    # status code
          description: A JSON array of schema engines
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /schema/engines/default:
    get:
      summary: Returns default schema engine
      description: Default schema engine
      responses:
        '200':    # status code
          description: Name of default schema engine
          content:
            application/json:
              schema: 
                type: string
  /schema/formats:
    get:
      summary: Returns list of schema formats
      description: List of schema formats
      responses:
        '200':    # status code
          description: List of schema formats
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /schema/triggerModes:
    get:
      summary: Returns list of trigger modes
      description: List of trigger modes
      responses:
        '200':    # status code
          description: List of trigger modes
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /schema/convert:
    get:
      summary: Convert schemas
      description: Convert schemas
      parameters:
        - in: query
          name: schema
          schema:
            type: string
          description: Schema
        - in: query
          name: schemaFormat
          schema:
            type: string
          description: Format of schema
        - in: query
          name: schemaEngine
          schema:
            type: string
          description: Schema engine
        - in: query
          name: resultSchemaFormat
          schema:
            type: string
          description: Result schema format
        - in: query
          name: resultSchemaEngine
          schema:
            type: string
          description: Result schema engine
      responses:
        '200':    # status code
          description: Result of conversion
          content:
            application/json:
              schema: 
                type: string                
  /validate:
    get:
      summary: Validate data 
      description: Validate RDF data with a schema
      parameters:
        - in: query
          name: data
          schema:
            type: string
          description: RDF data
        - in: query
          name: dataURL
          schema:
            type: string
          description: URL of RDF data
        - in: query
          name: dataFormat
          schema:
            type: string
          description: Format of RDF data
        - in: query
          name: endpoint
          schema:
            type: string
          description: URL of RDF data endpoint
        - in: query
          name: schema
          schema:
            type: string
          description: Schema
        - in: query
          name: schemaURL
          schema:
            type: string
          description: URL of Schema
        - in: query
          name: schemaFormat
          schema:
            type: string
          description: Format of schema
        - in: query
          name: schemaEngine
          schema:
            type: string
          description: Schema engine
        - in: query
          name: triggerMode
          schema:
            type: string
          description: Trigger mode
        - in: query
          name: shape-map
          schema:
            type: string
          description: Shape map
        - in: query
          name: shapeMapFormat
          schema:
            type: string
          description: Shape map format
        - in: query
          name: shapeMapURL
          schema:
            type: string
          description: Shape map URL
        - in: query
          name: schemaEmbedded
          schema:
            type: string
          description: If schema embedded is activated, then the schema will be embedded in the RDF data
        - in: query
          name: inference
          schema:
            type: string
          description: URL of the inference entailment to apply to the RDF data before validation
      responses:
        '200':    # status code
          description: Result of validation
          content:
            application/json:
              schema: 
                type: object
    post:
      summary: Validate data 
      description: Validate RDF data with a schema
      parameters:
        - in: query
          name: data
          schema:
            type: string
          description: RDF data
        - in: query
          name: dataURL
          schema:
            type: string
          description: URL of RDF data
        - in: query
          name: dataFormat
          schema:
            type: string
          description: Format of RDF data
        - in: query
          name: endpoint
          schema:
            type: string
          description: URL of RDF data endpoint
        - in: query
          name: schema
          schema:
            type: string
          description: Schema
        - in: query
          name: schemaURL
          schema:
            type: string
          description: URL of Schema
        - in: query
          name: schemaFormat
          schema:
            type: string
          description: Format of schema
        - in: query
          name: schemaEngine
          schema:
            type: string
          description: Schema engine
        - in: query
          name: triggerMode
          schema:
            type: string
          description: Trigger mode
        - in: query
          name: shape-map
          schema:
            type: string
          description: Shape map
        - in: query
          name: shapeMapFormat
          schema:
            type: string
          description: Shape map format
        - in: query
          name: shapeMapURL
          schema:
            type: string
          description: Shape map URL
        - in: query
          name: schemaEmbedded
          schema:
            type: string
          description: If schema embedded is activated, then the schema will be embedded in the RDF data
        - in: query
          name: inference
          schema:
            type: string
          description: URL of the inference entailment to apply to the RDF data before validation
      responses:
        '200':    # status code
          description: Result of validation
          content:
            application/json:
              schema: 
                type: object
  /schema/visualize:
    get:
      summary: Visualize schema 
      description: Visualize a schema
      parameters:
        - in: query
          name: schema
          schema:
            type: string
          description: Schema
        - in: query
          name: schemaURL
          schema:
            type: string
          description: URL of Schema
        - in: query
          name: schemaFormat
          schema:
            type: string
          description: Format of schema
        - in: query
          name: schemaEngine
          schema:
            type: string
          description: Schema engine
      responses:
        '200':    # status code
          description: Result of visualization
    post:
      summary: Visualize schema 
      description: Visualize schema
      parameters:
        - in: query
          name: schema
          schema:
            type: string
          description: Schema
        - in: query
          name: schemaURL
          schema:
            type: string
          description: URL of Schema
        - in: query
          name: schemaFormat
          schema:
            type: string
          description: Format of schema
        - in: query
          name: schemaEngine
          schema:
            type: string
          description: Schema engine
        - in: query
          name: schemaEmbedded
          schema:
            type: string
          description: If schema embedded is activated, then the schema will be embedded in the RDF data
      responses:
        '200':    # status code
          description: Result of validation
          content:
            application/json:
              schema: 
                type: object
  /wikidata/entityLabel:
    get:
      summary: Get label of wikidata entity 
      parameters:
        - in: query
          name: entity
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
      responses:
        '200':    # status code
          description: Result of visualization
  /wikidata/searchEntity:
    get:
      summary: Get label of wikidata entity 
      parameters:
        - in: query
          name: label
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
        - in: query
          name: limit
          description: number of values to search
          schema:
            type: integer
        - in: query
          name: continue
          description: offset from which to start
          schema:
            type: integer
      responses:
        '200':    # status code
          description: Result of visualization