@(validatorVersion: String)(vf : ValidationForm)

@main("About")(vf) {
	
<h1>About RDFShape</h1>

<p>RDFShape can be used as an online 
  <a href="https://www.w3.org/RDF/">RDF</a> syntax checker. 
  It can be used can check syntax and convert 
  between different RDF syntaxes. 
  It can also be used as an RDF validator based on Shapes: 
  both 
   <a href="http://shex.io/">ShEx (Shape Expressions)</a> and 
   <a href="http://www.w3.org/TR/shacl/">SHACL</a> are supported.   
  </p>

<p>Developed by: 
   <a href="http://www.di.uniovi.es/~labra">Jose Emilio Labra Gayo</a>, 
   <a href="http://www.weso.es">WESO Research Group</a></p>

<p>Source code: <a href="https://github.com/labra/rdfshape">Github project</a></p>

<p><a href="https://github.com/labra/rdfshape/issues">Issues</a></p>

<p>Based on <a href="http://labra.github.io/ShExcala">ShExcala</a> 
<p>Validator version: @validatorVersion</p>

<h2>Acknowledgments</h2>
<ul>
<li>Shape Expressions implementation: <a href="http://labra.github.io/ShExcala/">ShExcala</a></li>
<li>SHACL_TQ is based on <a href="https://github.com/labra/shacl_tq">shacl_tq</a> a Scala wrapper of <a href="https://github.com/TopQuadrant/shacl">TopQuadrant's SHACL</a> implementation
<li><a href="https://www.w3.org/People/Eric/">Eric Prud'hommeaux</a>. ShEx  
</ul> 
}
