@(validatorVersion: String)
@main("About") {
	
<h1>About RDFShape</h1>

<p>RDFShape can be used as an online RDF validator and as a RDF Shape Expressions validator</p>

<p>The implementation is based on <a href="http://labra.github.io/ShExcala/">ShExcala</a></p>
<p>Developed by: 
   <a href="http://www.di.uniovi.es/~labra">Jose Emilio Labra Gayo</a>, 
   <a href="http://www.weso.es">WESO Research Group</a></p>

<p>Source code: <a href="https://github.com/labra/rdfshape">Github project</a></p>

<p><a href="https://github.com/labra/rdfshape/issues">Issues</a></p>

<p>RDFShape version: @validatorVersion, ShExcala version: 0.2.1</p> 
}
