@(vf:ValidationForm, targetFormat: String, result: String)

@import play.api.i18n.Messages

@main(Messages("Convert.Data"))(vf) {

@if(!result.isEmpty) {
<h1>Result</h1>
<pre class="prettyprint linenums lang-turtle">@result</pre>

<a href="@routes.DataConverter.convert_data_get(
	         data = vf.dataStr,
	         dataFormat = vf.dataFormat,
	         targetFormat = targetFormat,
	         schemaName = vf.schemaName
	         )">Generate permalink</a>

}

<form method="post" 
	  enctype="multipart/form-data" 
	  action="@routes.DataConverter.convert_data_post">

<label for="output_format">
<h1>@Messages("Output.data.format")</h1>
</label>

<select name="outputFormat">
      @for(s <- DataOptions.availableFormats) {
      	<option value="@s"
      	 @{if(targetFormat==s) { "selected" }}>@s</option>
      }
</select>

@submit()

@hidden_inputs(vf)
@hidden_schemaName()

@tabs_data(vf)

</form>	

}
