@(vf:ValidationForm, outputFormat: String, result: String)

@import play.api.i18n.Messages

@main(Messages("Convert.Schema"))(vf) {

@if(!result.isEmpty) {
<h1>Result</h1>
<pre class="prettyprint linenums lang-turtle">@result</pre>
}

<a href="@routes.SchemaConverter.convert_schema_get(
	         vf.schemaStr,
	         vf.schemaFormat,
             vf.schemaVersion,
             outputFormat
	         )">Generate permalink</a>

<form method="post" 
	  enctype="multipart/form-data" 
	  action="@routes.SchemaConverter.convert_schema_post">

<label for="output_format">@Messages("Output.schema.format")</label>
    <select name="outputFormat">
      @for(s <- SchemaOptions.availableFormats) {
      	<option value="@s"
      	 @{if(outputFormat==s) { "checked" }}>@s</option>
      }
    </select>

@submit()

@hidden_inputs(vf)
@schemaName(vf)
@tabs_schemaInput(vf)

</form>	

}
