@(vf:ValidationForm, outputFormat: String, result: String)

@import play.api.i18n.Messages

@main(Messages("Convert.Data"))(vf) {

@if(!result.isEmpty) {
<h1>Result</h1>
<pre class="prettyprint linenums lang-turtle">@result</pre>
}

<form method="post" 
	  enctype="multipart/form-data" 
	  action="@routes.Converter.convert_data_post">

<label for="output_format">@Messages("Output.data.format")</label>
    <select name="outputFormat">
      @for(s <- DataOptions.availableFormats) {
      	<option value="@s"
      	 @{if(outputFormat==s) { "checked" }}>@s</option>
      }
    </select>

@submit()

@hidden_inputs(vf)

@tabs_data(vf)

</form>	

}
