@(dataOptions: DataOptions)

@import play.api.i18n.Messages

<fieldset>
<legend>@Messages("Data.options")</legend>
<label for="data_format">@Messages("Data.format")</label>
    <select name="data_format">
      @for(s <- DataOptions.availableFormats) {
      	<option value="@s"
      	 @{if(dataOptions.format==s) { "checked" }}>@s</option>
      }
    </select>
<br/>    
<label for="extend_rdfs">Add RDFS inference</label>
<br/>
    <input 
    	type="radio" name="rdfs" value="true"
    	@{if(dataOptions.rdfs==true) { "checked" }}>
    	<label>true</label></input>
    <br/>
	<input 
		type="radio" name="rdfs" value="false" 
		@{if(dataOptions.rdfs==false) { "checked" }}>
		<label>false</label>
	</input>
<br/>    
<label for="showData" title="@{Messages("ShowData.explanation")}">@Messages("showData")</label>
<br/>
    <input 
    	type="radio" name="showData" value="true"
    	@{if(dataOptions.showData==true) { "checked" }}>
    	<label>true</label></input>
    <br/>
	<input 
		type="radio" name="showData" value="false" 
		@{if(dataOptions.showData==false) { "checked" }}>
		<label>false</label>
	</input>
<br/>
 
</fieldset>