@(searchForm: Form[SearchField])(implicit flash: play.api.mvc.Flash)

@import helper._

@main("Labels4all") {
    
    <h1>Index page</h1>

    <h2>@flash.get("message").getOrElse(Messages("Greeting")(play.api.i18n.Lang("es")))</h2>
    
    @form(routes.Application.searchTranslation) {
	  <fieldset>        
        @inputText(searchForm("iriName"), '_label -> "IRI") 
        @inputText(searchForm("langCode"), '_label -> "Language") 
      </fieldset>  
      <input type="submit" value="@Messages("Search") ">
        
    }
    
    <ul>
    <a href="/iris">Manage IRIs</a>
    <a href="/langs">Manage Languages</a>
    <a href="/trans">Manage Translations</a>
    </ul>
}