@(validationResult: ValidationResult = ValidationResult.empty,
  rdf_input: InputType = ByInput, 
  schema_input: InputType = ByInput,  
  str_uri_rdf: String = "",
  str_uri_schema: String = ""
  )

@import play.api.i18n.Messages

@main("") {

@Html(validationResult.toHTML(1))
<a href="@routes.Validator.validate_get(validationResult.str_rdf,validationResult.opt_schema,validationResult.opt_iri)">Generate permalink</a>

<h1>@Messages("Name")</h1>

<form method="post" 
	  enctype="multipart/form-data" 
	  action="validator">

<div class="submit">
<input title="Submit for validation" 
	   type="submit" 
	   value='@Messages("Submit")' />
</div>	   
	  
<div id="RDFPane">

<div class="tabs">

<div class="tab">
  <input type="radio"
         id="byUri_RDF"
         value="byUri"
         name="rdf"
         @{if (rdf_input == ByUri) "checked"}>
	<label for="byUri_RDF">@Messages("ByURI")</label>
	<div class="content">
	  <input type="url" 
           name="rdf_uri" 
		   id="rdf_uri" 
		   size="45" 
		   placeholder="http://..." />
    </div> <!-- content -->
</div> <!-- tab -->

<div class="tab">
 <input type="radio"
         id="byFile_RDF"
         value="byFile"
         name="rdf"
         @{if (rdf_input == ByFile) "checked"}>
 <label for="byFile_RDF">@Messages("ByFile")</label>
 <div class="content">
	<input type="file" 
		   id="rdf_file" 
		   name="rdf_file" 
		   size="30" >
 </div> <!-- content -->
</div> <!-- tab -->

<div class="tab">
  <input type="radio"
         id="byInput_RDF"
         name="rdf"
         value="byInput"
         @{if (rdf_input == ByInput) "checked"}>
	<label for="byInput_RDF">@Messages("ByInput")</label>
 <div class="content">	
   <legend>@Messages("Input")</legend>	
   <textarea 
		id="fragment" 
		name="rdf_textarea" 
		rows="12" cols="80">@validationResult.str_rdf</textarea>
  </div> <!-- content -->

 </div> <!-- tab -->

<!-- By Endpoint -->
<div class="tab">
  <input type="radio"
         id="byEndpoint_RDF"
         name="rdf"
         value="byEndpoint"
         placeholder="http://..."
         @{if (rdf_input == ByEndpoint) "checked"}>
	<label for="byEndpoint_RDF">@Messages("ByEndpoint")</label>
 <div class="content">	
  <input type="url" 
   	     name="rdf_endpoint" 
		 id="rdf_endpoint" 
		 size="45" />
 </div> <!-- content -->

 </div> <!-- tab endpoint -->

<!-- By Deref -->
<div class="tab">
  <input type="radio"
         id="byDereference_RDF"
         name="rdf"
         value="byDereference"
         placeholder="http://..."
         @{if (rdf_input == ByDereference) "checked"}>
	<label for="byDereference_RDF">@Messages("ByDereference")</label>
 <div class="content">	
 </div> <!-- content -->

 </div> <!-- tab deref -->
 
</div> <!-- tabs -->   

</div> <!-- rdfPane -->

<!-- Schema/No schema pane -->
<div class="tabs">

<div class="tab">        
<input type="radio"
       id="schemaNo"
       value="schemaNo"
       name="withSchema" 
       @{if(validationResult.opt_schema == None) "checked"}>
 <label for="schemaNo">No schema</label>
 <div class="content"></div>        
</div> <!-- tab no schema -->

<div class="tab">
<input type="radio"
       id="schemaYes"
       value="schemaYes"
       name="withSchema" 
       @{if (validationResult.opt_schema != None) "checked"}>
<label for="schemaYes">With Schema</label>

<div class="content">

<!-- input type tabs -->
<div class="tabs">

<!-- tab with schema -->
<div class="tab">
  <input type="radio"
         id="byUri_Schema"
         value="byUri"
         name="schema"
         @{if (schema_input == ByUri) "checked"}>
	<label for="byUri_Schema">@Messages("ByURI")</label>
	<div class="content">
	  <input type="text" 
		   name="schema_uri" 
		   id="schema_uri" 
		   size="45" 
		   placeholder="http://..." />

  <!-- Options -->
  <details>
   <summary>More options</summary>
   <table>	
   <tr><th>Name</th><th>Option</th><th>Description</th></tr>
   <tr><td>With incoming</td><td>
    <input type="radio" name="withIncoming" value="true"><label>true</label><br/>
	<input type="radio" name="withIncoming" value="false" checked><label>false</label>
    </td>
    <td>Takes into account incoming edges</td></tr>	
   </table>
  </details>

<!-- Select IRI/No IRI -->
<div class="tabs">

<div class="tab">
<input type="radio"
       id="byUri_iriNo"
       value="false"
       name="byUri_withIRI" 
       @{if (validationResult.opt_iri == None) "checked"}>
<label for="byUri_iriNo">No IRI (All)</label>
<div class="content"></div> 
</div> <!-- tab no iri -->


<div class="tab">
<input type="radio"
       id="byUri_iriYes"
       value="true"
       name="byUri_withIRI" 
       @{if (validationResult.opt_iri != None) "checked"}>
<label for="byUri_iriYes">With IRI</label>
<div class="content">
  <input type="text" 
	     name="byUri_iri"
		 size="45" 
		 value="@validationResult.opt_iri.getOrElse("")"
		 placeholder="http://...">
</div> <!-- content with IRI -->
</div> <!-- tab -->

</div> <!-- tabs select iri --> 
	
  </div> <!-- content -->
</div> <!-- tab -->

<div class="tab">
 <input type="radio"
         id="byFile_Schema"
		 value="byFile"
         name="schema"
         @{if (schema_input == ByFile) "checked"}>
 <label for="byFile_Schema">@Messages("ByFile")</label>
 <div class="content">
	<input type="file" 
		   id="schema_file" 
		   name="schema_file" 
		   size="30" />

  <!-- Options -->
  <details>
   <summary>More options</summary>
   <table>	
   <tr><th>Name</th><th>Option</th><th>Description</th></tr>
   <tr><td>With incoming</td><td>
    <input type="radio" name="withIncoming" value="true"><label>true</label><br/>
	<input type="radio" name="withIncoming" value="false" checked><label>false</label>
    </td>
    <td>Takes into account incoming edges</td></tr>	
   </table>
  </details>

<!-- Select IRI/No IRI -->
<div class="tabs">

<div class="tab">
<input type="radio"
       id="byFile_iriNo"
       value="false"
       name="byFile_withIRI" 
       @{if (validationResult.opt_iri == None) "checked"}>
<label for="byFile_iriNo">No IRI (All)</label>
<div class="content"></div> 
</div> <!-- tab no iri -->


<div class="tab">
<input type="radio"
       id="byFile_iriYes"
       value="true"
       name="byFile_withIRI" 
       @{if (validationResult.opt_iri != None) "checked"}>
<label for="byFile_iriYes">With IRI</label>
<div class="content">
  <input type="text" 
	     name="byFile_iri" 
		 size="45" 
		 value='@validationResult.opt_iri.getOrElse("")'
		 placeholder="http://...">
</div> <!-- content with IRI -->
</div> <!-- tab -->

</div> <!-- tabs select iri --> 

  
 </div>
</div> <!-- tab -->

 <div class="tab">
 <input type="radio"
     id="byInput_Schema"
     value="byInput"
     name="schema"
     @{if (schema_input == ByInput) "checked"}>
 <label for="byInput_Schema">@Messages("ByInput")</label>
 <div class="content">
	<textarea 
		id="fragment" 
		name="schema_textarea" 
		rows="12" cols="80">@validationResult.opt_schema.getOrElse("")</textarea>
		
  <!-- Options -->
  <details>
   <summary>More options</summary>
   <table>	
   <tr><th>Name</th><th>Option</th><th>Description</th></tr>
   <tr><td>With incoming</td><td>
    <input type="radio" name="withIncoming" value="true"><label>true</label><br/>
	<input type="radio" name="withIncoming" value="false" checked><label>false</label>
    </td>
    <td>Takes into account incoming edges</td></tr>	
   </table>
  </details>

<!-- Select IRI/No IRI -->
<div class="tabs">

<div class="tab">
<input type="radio"
       id="byInput_iriNo"
       value="false"
       name="byInput_withIRI" 
       @{if (validationResult.opt_iri == None) "checked"}>
<label for="byInput_iriNo">No IRI (All)</label>
<div class="content"></div> 
</div> <!-- tab no iri -->


<div class="tab">
<input type="radio"
       id="byInput_iriYes"
       value="true"
       name="byInput_withIRI" 
       @{if (validationResult.opt_iri != None) "checked"}>
<label for="byInput_iriYes">With IRI</label>
<div class="content">
  <input type="text" 
	     name="byInput_iri" 
		 id="iri" 
		 size="45" 
		 value='@validationResult.opt_iri.getOrElse("")'
		 placeholder="http://...">
</div> <!-- content with IRI -->
</div> <!-- tab -->

</div> <!-- tabs select iri --> 
  		
 </div> <!-- content -->

 </div> <!-- tab -->
 
</div> <!-- tabs --> 

</div> <!-- content with schema -->

</div> <!-- tab withSchema-->
       
</div> <!-- tabs schema Pane -->

</form>	


}
