@(iris: List[IRI], iriForm: Form[String])

@import helper._

@main("Labels4all") {
    
    <h1>Labels4all</h1>
    <h2>@Messages("Greeting")(play.api.i18n.Lang("es"))</h2>
    
    <p>Number of IRIs translated: @iris.size</p>
    <ul>
    <a href="/iris">Manage IRIs</a>
    <a href="/langs">Manage Languages</a>
    <a href="/trans">Manage Translations</a>
    </ul>
    <ul>
        @iris.map { iri =>
            <li>
                @iri.iriName
                
                @form(routes.Application.deleteIRI(iri.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>IRI</h2>
    
    @form(routes.Application.newIRI) {
        
        @inputText(iriForm("iriName")) 
        
        <input type="submit" value="Create">
        
    }
    
}