@(iris: List[IRI], iriForm: Form[String])

@import helper._

@main("Labels4all") {
    
    <h1>IRIS Labels4all</h1>
    <h2>IRIs: @iris.size</h2>
    
    <p>Testing IRIs</p>
    <ul>
        @iris.map { iri =>
            <li>
                @iri.iriName
                
                @form(routes.Application.deleteIRI(iri.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>IRI</h2>
    
    @form(routes.Application.newIRI) {
        
        @inputText(iriForm("iriName")) 
        
        <input type="submit" value="Create">
        
    }
    
    <a href="/langs">Languages</a>
    
}