@(iris: List[IRI], iriForm: Form[String])

@import helper._

@main("Labels4all") {
    
    <h2>Admin IRIs</h2>
    
    <p>Number of IRIs: @iris.size</p>
    <ul>
        @iris.map { iri =>
            <li>
                @iri.iriName
                
                @form(routes.Admin.deleteIRI(iri.id.get)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>IRI</h2>
    
    @form(routes.Admin.newIRI) {
        
        @inputText(iriForm("iriName"), '_label -> "New IRI") 
        
        <input type="submit" value="@Messages("Create") ">
        
    }
    
}