@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.css")">
<link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("prettify.css"))'></script>

<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>

<!-- The following files would be for codemirror but are not used now 
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("mode/sparql/sparql.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("mode/turtle/turtle.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("runmode/runmode.js"))'></script> 
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("runmode/colorize.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("edit/matchbrackets.js"))'></script> -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("prettify.js"))'></script>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

</head>
<body onload="prettyPrint()">
<header>
<h1 id="title"><a href="@routes.Application.index"><abbr title="RDF Validator based on Shape Expressions">RDFShape</abbr></a></h1>

<nav>
<a href="@routes.Validator.onlyData">Data</a>
<a href="@routes.Validator.dataSchema">Data + Schema</a>
<a href="@routes.Validator.dataSchemaNode">RDF + Schema + Node</a>
<a href="@routes.Converter.data">Data Conversions</a>
<a href="@routes.Converter.schema">Schema conversions</a>
<a href="@routes.Application.about()">About</a>
</nav>
</header>

@content
<footer>
<div>Developed by: <a href="http://www.weso.es">WESO Research Group</a></div>
</footer>
<script src="@routes.Assets.at("javascripts/tabs.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lang-turtle.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lang-shex.js")" type="text/javascript"></script>
<script>

/* Uncomment the following to try to colorize textarea's using codemirror 
  var rdf_editor = CodeMirror.fromTextArea(document.getElementById("rdf_textarea"), {
	   mode: "text/turtle",
	   lineNumbers: true
	 });

var schema_editor = CodeMirror.fromTextArea(document.getElementById("schema_textarea"), {
		   mode: "text/turtle",
		   lineNumbers: true
		 });

rdf_editor.refresh();
schema_editor.refresh(); */
/*setTimeout(function(){CodeMirror.colorize();}, 20);*/

</script>
</body>
</html>
