@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/iris">IRIs</a></li>
    <li><a href="/langs">Languages</a></li>
    <li><a href="/trans">Translations</a></li>
    </ul>
    </nav>
    </body>
</html>
