@(title: String)(vf:ValidationForm)(content: Html)

<!DOCTYPE html>
<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.css")">
<link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("prettify.css"))'></script>

<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>

<!-- The following files would be for codemirror but are not used now 
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("mode/sparql/sparql.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("mode/turtle/turtle.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("runmode/runmode.js"))'></script> 
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("runmode/colorize.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("edit/matchbrackets.js"))'></script> -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("prettify.js"))'></script>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

</head>
<body onload="prettyPrint()">
<header>
<h1 id="title">
 <a href="@routes.Application.index"
    title="RDF Validator based on Shape Expressions">RDFShape</a>
<a href="@routes.Application.index">
  <img class="logo" src="@routes.Assets.at("images/rdfshape.svg")" alt="RDFShape logo" />
</a> 
</h1>

<nav>
<ul>
<li class="dropdown">Syntax checking
<ul>
<li><a href="@routes.Checker.data(
            vf.dataStr,
            vf.dataFormat)" 
            title="Check RDF Data syntax (no Schema)">RDF Syntax</a></li>
<li><a href="@routes.Checker.schema(
            vf.schemaStr,
            vf.schemaFormat,
            vf.schemaName)" 
            title="Check Schema syntax (no data)">Schema Syntax</a></li>
</ul></li>
<li class="dropdown">Validation
<ul>
<li><a href="@routes.Validator.dataSchema(vf.dataStr,
            vf.dataFormat,
            vf.schemaStr,
            vf.schemaFormat,
            vf.schemaName)" 
            title="Validate RDF Data using a Schema">Data + Schema (separated)</a></li>
<!-- <a href="@routes.Validator.dataSchemaNode(vf.dataStr,
            vf.dataFormat,
            vf.schemaStr,
            vf.schemaFormat,
            vf.schemaName, 
            vf.focusNode)" 
            title="Validate a node in an RDf Data using a Schema">Data + Node + Schema</a> -->
<li><a href="@routes.Validator.data(vf.dataStr,
            vf.dataFormat,
            vf.schemaName)" 
            title="Validate RDf & Schema together. Checks scopeNode declarations">Data & Schema (together)</a>
            </li>
</ul></li>
<li class="dropdown">Conversions
<ul>           
<li><a href="@routes.DataConverter.convert_data_get(
			data = vf.dataStr,
            inputFormat = vf.dataFormat,
            outputFormat = "TURTLE" 
            )" 
            title="Conversions betewen different RDF Data formats">RDF Conversions</a></li>
<li><a href="@routes.SchemaConverter.convert_schema_get(
			schema = vf.schemaStr,
            inputFormat = vf.schemaFormat,
            outputFormat = "SHEXC",
            schemaName = vf.schemaName 
            )" 
            title="Conversions between different Schema formats">Schema Conversions</a></li>
</ul></li>
<li>
<a href="@routes.Application.help()" 
            title="Help & examples">Help</a>
</li>
<li>
<a href="@routes.Application.about()" 
            title="About this project">About</a></li>
</ul>
</nav>

</header>

@content
<footer>
<div>Developed by: <a href="http://www.weso.es" title="Web Semantics Oviedo">WESO Research Group</a></div>
</footer>
<script src="@routes.Assets.at("javascripts/tabs.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lang-turtle.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lang-shex.js")" type="text/javascript"></script>
<script>
 
 /* For JQuery-UI tooltip */
 $(function() { $( document ).tooltip(); });
  
/* Uncomment the following to try to colorize textarea's using codemirror 
  var rdf_editor = CodeMirror.fromTextArea(document.getElementById("rdf_textarea"), {
	   mode: "text/turtle",
	   lineNumbers: true
	 });

var schema_editor = CodeMirror.fromTextArea(document.getElementById("schema_textarea"), {
		   mode: "text/turtle",
		   lineNumbers: true
		 });

rdf_editor.refresh();
schema_editor.refresh(); */
/*setTimeout(function(){CodeMirror.colorize();}, 20);*/

</script>
</body>
</html>
