@(rdfOptions: RDFOptions)

@import play.api.i18n.Messages

<fieldset>
<legend>@Messages("RDF.options")</legend>
<label for="showRDF">@Messages("showRDF")</label>
    <input 
    	type="radio" name="showRDF" value="true"
    	@{if(rdfOptions.showRDF==true) { "checked" }}>
    	<label>true</label><br/>
	<input 
		type="radio" name="showRDF" value="false" 
		@{if(rdfOptions.showRDF==false) { "checked" }}>
		<label>false</label>
<br/>
<label for="Syntax">@Messages("syntax")</label>
    <select name="syntax">
      @for(s <- RDFOptions.availableSyntaxes) {
      	<option value="@s"
      	 @{if(rdfOptions.syntax==s) { "checked" }}>@s</option>
      }
    </select>
 
</fieldset>