@(schemaOptions: SchemaOptions, nodes:List[String], shapes: List[String])

@import play.api.i18n.Messages
@import es.weso.schema.ValidationTrigger

<fieldset>
<legend>@Messages("Schema.options")</legend>

<!-- Options -->
   <table>	
   <tr><th>Name</th><th>Option</th><th>Description</th></tr>
    <tr>
    <td>@Messages("Show.schema")</td>
    <td>
    <input 
    	type="radio" 
    	name="showSchema" 
    	value="true"
    	@{if(schemaOptions.showSchema==true) { "checked" }}>
    	<label>@Messages("Show.schema")</label><br/>
    	
	<input 
		type="radio" 
		name="withAny" 
		value="false" 
		@{if(schemaOptions.showSchema==false) { "checked" }}>
		<label>@Messages("Dont.show.schema")</label>
    </td>
    <td>@Messages("Show.schema.explain")</td>
    </tr>
    <tr>
    <td>Focus node selection</td>
    <td>
    @for( (name,explain) <- ValidationTrigger.triggerValues) {
     <input type="radio" name="trigger" value="@name"
      @{if(schemaOptions.trigger.name == name) { "checked" }}
     ><label>@explain</label><br/>
    }
	<select name="node">
      @for(n <- nodes) {
      	<option value="@n"
      	 @{if(schemaOptions.node==n) { "selected" }}>@n</option>
      }
    </select>
    <select name="shape">
      @for(s <- shapes) {
      	<option value="@s"
      	 @{if(schemaOptions.shape==s) { "selected" }}>@s</option>
      }
    </select>
    </td>
    <td>How to select focus nodes to validate</td>
    </tr>
    <tr>
    <td><label for="cut">@Messages("Cut")</label></td>
    <td><input type="number"
       id="cut" 
	   name="cut" 
	   min="1" 
	   max="100" 
	   value="@schemaOptions.cut" /></td>
	 <td>Cut level in case there are more than one validation result</td>
   </table>
</fieldset>