@(schemaOptions: SchemaOptions)

@import play.api.i18n.Messages

<fieldset>
<legend>@Messages("Schema.options")</legend>
<label for="cut">@Messages("Cut")</label>
<input type="number"
       id="cut" 
	   name="cut" 
	   min="1" 
	   max="100" 
	   value="@schemaOptions.cut" />

<!-- Options -->
   <summary>@Messages("MoreOptions")</summary>
   <table>	
   <tr><th>Name</th><th>Option</th><th>Description</th></tr>
    <tr>
    <td>@Messages("Show.schema")</td>
    <td>
    <input 
    	type="radio" 
    	name="showSchema" 
    	value="true"
    	@{if(schemaOptions.showSchema==true) { "checked" }}>
    	<label>@Messages("Show.schema")</label><br/>
	<input 
		type="radio" 
		name="withAny" 
		value="false" 
		@{if(schemaOptions.showSchema==false) { "checked" }}>
		<label>@Messages("Dont.show.schema")</label>
    </td>
    <td>@Messages("Show.schema.explain")</td>
    </tr>
   </table>
</fieldset>