@(vf: ValidationForm)

@import play.api.i18n.Messages

<div class="content" id="schema">  <!-- content with Schema -->

<h1>@Messages("Select.schema")</h1>

<div class="tabs" id="tabs-input-schema">

<ul>
<li><a href="#byUri_schema">@Messages("ByURI")</a></li>
<li><a href="#byFile_schema">@Messages("ByFile")</a></li>
<li><a href="#byInput_schema">@Messages("ByInput")</a></li>
</ul>

<div id="byUri_schema">

  <input type="text" 
		   name="schema_uri" 
		   id="schema_uri" 
		   size="45" 
		   placeholder="http://..." ></input>

</div> <!-- byUri_schema -->

<div class="content" 
	 id="byFile_schema">
	<input type="file" 
		   id="schema_file" 
		   name="schema_file" 
		   size="30" ></input>

</div>	

<div class="content" 
	 id="byInput_schema">
	<textarea class="input_src"
		id="schema_textarea" 
		name="schema_textarea" 
		rows="12" cols="80">@vf.schemaInput.extract_str</textarea>

</div> <!-- content -->

<label for="schema_format">@Messages("Schema.format")</label>
<select name="schema_format">
      @for(s <- SchemaOptions.availableFormats) {
      	<option value="@s"
      	 @{if(vf.schemaInput.inputFormat==s) { "checked" }}>@s</option>
      }
</select>


@schemaOptions(vf.schemaOptions)

</div> <!-- input schema tabs -->

</div> <!-- content with Schema -->

