
@main("") {
	
<div id="tabs1">
 <ul>
  <li><a href="#tab11">Tab11</a></li>
  <li><a href="#tab12">Tab12</a></li>
 </ul>
 <div id="tab11">
   Hooola desde tab11
 </div>
 <div id="tab12">
   Tab12
 </div>
</div>

<div id="tabs2">
 <ul>
  <li><a href="#tab21">Tab21</a></li>
  <li><a href="#tab22">Tab22</a></li>
 </ul>
 <div id="tab21">
   Hooola desde tab21
   <div id="tabs211">
	 <ul>
  	  <li><a href="#tab2111">Tab2111</a></li>
	  <li><a href="#tab2112">Tab2112</a></li>
 	</ul>
 	<div id="tab2111">
   		Hooola desde tab2111
 	</div>
 	<div id="tab2112">
	   Tab2112
	   <textarea id="fragment" name="schema_textarea" 
		 rows="12" cols="80">texto</textarea>
	 </div>
   </div>
   
 </div>
 <div id="tab22">
   Tab22
 </div>
</div>

}
