@(vr:ValidationResult)

@if(vr.status == None || vr.dataStr=="") {
} else {  

@if(vr.status == Some(true)) {

<div class="result_ok">
<p class="msg_result_ok">OK</p>
<pre>@vr.msg</pre>

@Html(vr.toHTML)

<details>
<summary>Data</summary>
<pre class="prettyprint linenums lang-turtle">@vr.dataStr</pre>
</details>
@if(vr.withSchema) {
	<details>
	<summary>Schema</summary>
	<pre class="prettyprint linenums lang-shex">@vr.schemaStr</pre>
    </details>
}
</div>
} else { 

<div class="result_bad">
<p class="msg_result_bad">Message: @vr.msg
@Html(vr.toHTML)

<details>
<summary>Data</summary>
<pre class="prettyprint linenums lang-turtle">@vr.dataStr</pre>
</details>
@if(vr.withSchema) {
	<details>
	<summary>Schema</summary>
	<pre class="prettyprint linenums lang-shex">@vr.schemaStr</pre>
	</details>
}
</div>
}

@println("viewing validationResult. Together..." + vr)

@if(vr.together) {
	

<a href="@routes.ValidatorData.data(
	         data = vr.dataStr,
	         dataFormat = vr.dataFormat,
	         rdfs = vr.dataOptions.rdfs,
             schemaName = vr.schemaName
	         )">Generate permalink</a>

	
} else {
 
<a href="@routes.ValidatorSchemaData.validate_get(
	         vr.dataStr,
	         Some(vr.dataFormat),
	         vr.showData,
	         vr.dataOptions.rdfs,
	         vr.schema_param,
             vr.schemaFormat_param,
             vr.schemaName,
	         vr.maybeFocusNode,
	         vr.cut,
	         vr.showSchema
	         )">Generate permalink</a>

}
}
