@(vr:ValidationResult)

@if(vr.status == None) {
} else {  

@if(vr.status == Some(true)) {

<p class="result_ok">@vr.msg</p>
@Html(vr.toHTML())

<p>RDF</p>
<pre class="prettyprint linenums lang-turtle">@vr.str_rdf</pre>
@if(vr.withSchema) {
	<p>Schema</p>
	<pre class="prettyprint linenums lang-shex">@vr.str_schema</pre>
}

} else { 

<p class="result_bad">
<pre>@vr.msg</pre>
</p>
<p>RDF</p>
<pre class="prettyprint linenums lang-turtle">@vr.str_rdf</pre>
@if(vr.withSchema) {
	<p>Schema</p>
	<pre class="prettyprint linenums lang-shex">@vr.str_schema</pre>
}

}

<a href="@routes.Validator.validate_get(
	         vr.str_rdf,
	         Some(vr.opts_rdf.syntax.toString),
	         vr.opts_rdf.showRDF,
	         vr.schema_param,
	         vr.opt_iri_param,
	         vr.opt_schema.cut,
	         vr.opt_schema.withIncoming,
	         vr.opt_schema.withOpenShapes,
	         vr.opt_schema.withAny,
	         vr.opt_schema.showSchema
	         )">Generate permalink</a>

}
