@(vr:ValidationResult)

@if(vr.status == None || vr.dataStr=="") {
} else {  

@if(vr.status == Some(true)) {

<p class="result_ok">@vr.msg</p>
@Html(vr.toHTML())

<details>
<summary>Data</summary>
<pre class="prettyprint linenums lang-turtle">@vr.dataStr</pre>
</details>
@if(vr.withSchema) {
	<details>
	<summary>Schema</summary>
	<pre class="prettyprint linenums lang-shex">@vr.schemaStr</pre>
    </details>
}

} else { 

<p class="result_bad">
<pre>@vr.msg</pre>
</p>

<details>
<summary>Data</summary>
<pre class="prettyprint linenums lang-turtle">@vr.dataStr</pre>
</details>
@if(vr.withSchema) {
	<details>
	<summary>Schema</summary>
	<pre class="prettyprint linenums lang-shex">@vr.schemaStr</pre>
	</details>
}

}

<a href="@routes.Validator.validate_get(
	         vr.dataStr,
	         Some(vr.dataFormat),
	         vr.showData,
	         vr.schema_param,
             vr.schemaFormat_param,
             vr.schemaVersion,
	         vr.maybeFocusNode,
	         vr.cut,
	         vr.showSchema
	         )">Generate permalink</a>

}
