@(vr: ValidationResult = ValidationResult.empty,
  vf: ValidationForm = ValidationForm() )

@import play.api.i18n.Messages
@import es.weso.schema.Schemas

@main("Data & Schema (together)")(vf) {

@validationResult(vr)

<h1>@Messages("Data")</h1>

<form method="post" 
	  enctype="multipart/form-data" 
	  action="@routes.ValidatorData.validate_post">

<label for="schema_name">@Messages("Schema.Version")</label>
<select name="schema_name">
      @for(s <- Schemas.availableSchemaNames) {
      	<option value="@s"
      	 @{if(vf.schemaInput.schemaName==s) { "checked" }}>@s</option>
      }
</select>

@submit()

@hidden_inputs(vf)

@tabs_data(vf)

</form>	


}
